<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">HOME</a></li>
        <li><a ui-sref="howItWorks">HOW IT WORKS</a></li>
        <li><a ui-sref="#">TESTIMONIALS</a></li>
        <li><a ui-sref="startACollection">START A COLLECTION</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- HERO IMAGE -->
<section class="startACollectionHero">
  <!-- HERO IMAGE LIVES HERE -->
</section>

<section class="container" ng-show="$ctrl.confirmation">
  <div class="row confirmation">
    <h1 col-xs-12>Your order has been processed!</h1>
    <h3 col-xs-12>You should receive a confirmation email momentarily.</h3>
    <h3 col-xs-12>Your Curator will be in touch shortly to discuss your piece in more detail.</h3>
  </div>
</section>

<!-- CONSULTATION FORM -->
<form class="container consultationForm" name="$ctrl.consultation" ng-show="$ctrl.form" novalidate>

  <!--      Customer Name       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.name.$dirty && $ctrl.consultation.name.$invalid,
                  'has-success': $ctrl.consultation.name.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="name">Name</label>
      <input name="name" id="name" class="form-control" ng-model="$ctrl.customer.name" ng-minlength="3" ng-maxlength="20" required>
      <div class="error" ng-show="$ctrl.consultation.name.$dirty && $ctrl.consultation.name.$invalid">
          <small class="error" ng-show="$ctrl.consultation.name.$error.required">
              Name is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.name.$error.minlength">
              Name must be at least 3 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.name.$error.maxlength">
              Name cannot be more that 20 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer Email       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.email.$dirty && $ctrl.consultation.email.$invalid,
                  'has-success': $ctrl.consultation.email.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="email">Email</label>
      <input name="email" id="email" class="form-control" ng-model="$ctrl.customer.email" ng-minlength="10" ng-maxlength="40" required>
      <div class="error" ng-show="$ctrl.consultation.email.$dirty && $ctrl.consultation.email.$invalid">
          <small class="error" ng-show="$ctrl.consultation.email.$error.required">
              Email is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.email.$error.minlength">
              Email must be at least 10 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.email.$error.maxlength">
              Email cannot be more that 40 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer City       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.city.$dirty && $ctrl.consultation.city.$invalid,
                  'has-success': $ctrl.consultation.city.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="city">City</label>
      <input name="city" id="city" class="form-control" ng-model="$ctrl.customer.city" ng-minlength="3" ng-maxlength="20" required>
      <div class="error" ng-show="$ctrl.consultation.city.$dirty && $ctrl.consultation.city.$invalid">
          <small class="error" ng-show="$ctrl.consultation.city.$error.required">
              City is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.city.$error.minlength">
              City must be at least 3 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.city.$error.maxlength">
              City cannot be more that 20 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer State       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.state.$dirty && $ctrl.consultation.state.$invalid,
                  'has-success': $ctrl.consultation.state.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="state">State</label>
      <input name="state" id="state" class="form-control" ng-model="$ctrl.customer.state" ng-minlength="2" ng-maxlength="20" required>
      <div class="error" ng-show="$ctrl.consultation.state.$dirty && $ctrl.consultation.state.$invalid">
          <small class="error" ng-show="$ctrl.consultation.state.$error.required">
              State is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.state.$error.minlength">
              State must be at least 2 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.state.$error.maxlength">
              State cannot be more that 20 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer Style       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.style.$dirty && $ctrl.consultation.style.$invalid,
                  'has-success': $ctrl.consultation.style.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="style">Tell Us About Your Style</label>
      <textarea name="style" id="style" class="form-control" ng-model="$ctrl.customer.style" ng-minlength="5" ng-maxlength="300" required></textarea>
      <div class="error" ng-show="$ctrl.consultation.style.$dirty && $ctrl.consultation.style.$invalid">
          <small class="error" ng-show="$ctrl.consultation.style.$error.required">
              Style is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.style.$error.minlength">
              Style must be at least 5 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.style.$error.maxlength">
              Style cannot be more that 300 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer URL       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.url.$dirty && $ctrl.consultation.url.$invalid,
                  'has-success': $ctrl.consultation.url.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="url">Add a Link to Your Pinterest Board</label>
      <input name="url" id="url" class="form-control" ng-model="$ctrl.customer.url" ng-minlength="10" ng-maxlength="100">
      <div class="error" ng-show="$ctrl.consultation.url.$dirty && $ctrl.consultation.url.$invalid">
          <small class="error" ng-show="$ctrl.consultation.url.$error.required">
              URL is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.url.$error.minlength">
              URL must be at least 10 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.url.$error.maxlength">
              URL cannot be more that 100 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer Space       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.space.$dirty && $ctrl.consultation.space.$invalid,
                  'has-success': $ctrl.consultation.space.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="space">Tell Us About Your Space</label>
      <textarea name="space" id="space" class="form-control" ng-model="$ctrl.customer.space" ng-minlength="10" ng-maxlength="300" placeholder="Include colors, dimensions, or other helpful details" required></textarea>
      <div class="error" ng-show="$ctrl.consultation.space.$dirty && $ctrl.consultation.space.$invalid">
          <small class="error" ng-show="$ctrl.consultation.space.$error.required">
              Space is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.space.$error.minlength">
              Space must be at least 10 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.space.$error.maxlength">
              Space cannot be more that 300 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer Budget       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.budget.$dirty && $ctrl.consultation.budget.$invalid,
                  'has-success': $ctrl.consultation.budget.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="budget">Budget</label>
      <input name="budget" id="budget" class="form-control" ng-model="$ctrl.customer.budget" placeholder="$200.00" required>
      <div class="error" ng-show="$ctrl.consultation.budget.$dirty && $ctrl.consultation.budget.$invalid">
          <small class="error" ng-show="$ctrl.consultation.budget.$error.required">
              Budget is a required field
          </small>
      </div>
    </div>
  </div>

  <!--      Customer Timeline       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.timeline.$dirty && $ctrl.consultation.timeline.$invalid,
                  'has-success': $ctrl.consultation.timeline.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="timeline">Timeline</label>
      <input name="timeline" id="timeline" class="form-control" ng-model="$ctrl.customer.timeline" placeholder="Optional">
    </div>
  </div>


  <!---------   SUBMIT BUTTON    --------->
  <div class=" row form-group">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button ng-disabled="$ctrl.consultation.$invalid" ng-click="$ctrl.proceedToCheckout(consultation)" type="submit" class="btn btn-primary submit">
        Proceed to Checkout
      </button>
    </div>
  </div>
</form>

<section class="container" ng-show="$ctrl.checkout">
  <div class="row summary">
    <h1 col-xs-12>Order Summary:</h1>
    <h3 col-xs-12>Name: {{$ctrl.order.name}}</h3>
    <h3 col-xs-12>Email: {{$ctrl.order.email}}</h3>
    <h3 col-xs-12>City: {{$ctrl.order.city}}</h3>
    <h3 col-xs-12>State: {{$ctrl.order.state}}</h3>
    <h3 col-xs-12>Style: {{$ctrl.order.style}}</h3>
    <h3 col-xs-12>Space: {{$ctrl.order.space}}</h3>
    <h3 col-xs-12>Budget: {{$ctrl.order.budget}}</h3>
    <h3 col-xs-12>Timeline: {{$ctrl.order.timeline}}</h3>
    <h3 col-xs-12>Order Total: $19.99</h3>
    <!-- PAYPAL BUTTON -->
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="ZTLVF7XSVPEVS">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


      </section>
  </div>
</section>





<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <h3 class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-1">CONTACT/SUPPORT</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">LOGIN</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">FAQ</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">PRESS</h3>
    <h3 class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-2 col-lg-offset-0">ARTIST INQUIRIES</h3>
  </footer>
</div>
