<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="" ng-click="$ctrl.form=!$ctrl.form">Add Artist</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">
  <div class="row">
    <input type="search" class="form-control input-lg search-form" ng-model="searchText" placeholder="Search artists">
  </div>
</section>

<!-- NEW ARTIST FORM -->
<form class="container" name="$ctrl.newArtist" ng-show="$ctrl.form" novalidate>
  <div class="row">
    <h1 class="col-xs-12 questionHeader">New Artist Info</h1>
  </div>

  <!--      Artist's Name       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.name.$dirty && $ctrl.newArtist.name.$invalid,
                  'has-success': $ctrl.newArtist.name.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="name">Name</label>
      <input name="name" id="name" class="form-control" ng-model="$ctrl.artist.name" ng-minlength="3" ng-maxlength="20" placeholder="Enter name here" required>
      <div class="error" ng-show="$ctrl.newArtist.name.$dirty && $ctrl.newArtist.name.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.name.$error.required">
              Name is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.name.$error.minlength">
              Name must be at least 3 characters
          </small>
          <small class="error" ng-show="$ctrl.newArtist.name.$error.maxlength">
              Name cannot be more that 20 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's Store       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.store.$dirty && $ctrl.newArtist.store.$invalid,
                  'has-success': $ctrl.newArtist.store.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="store">Store</label>
      <input name="store" type="url" id="store" class="form-control" ng-model="$ctrl.artist.store" placeholder="eg. https://www.katiramer.com" required>
      <div class="error" ng-show="$ctrl.newArtist.store.$dirty && $ctrl.newArtist.store.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.store.$error.required">
              Store is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.store.$error.url">
              Must be a valid URL
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's Bio       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.bio.$dirty && $ctrl.newArtist.bio.$invalid,
                  'has-success': $ctrl.newArtist.bio.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="bio">Bio</label>
      <textarea name="bio" id="bio" class="form-control" ng-model="$ctrl.artist.bio" ng-minlength="10" ng-maxlength="300" placeholder="Tell us about yourself" required></textarea>
      <div class="error" ng-show="$ctrl.newArtist.bio.$dirty && $ctrl.newArtist.bio.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.bio.$error.required">
              Bio is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.bio.$error.minlength">
              Bio must be at least 10 characters
          </small>
          <small class="error" ng-show="$ctrl.newArtist.bio.$error.maxlength">
              Bio cannot be more than 300 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's Tags       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.tags.$dirty && $ctrl.newArtist.tags.$invalid,
                  'has-success': $ctrl.newArtist.tags.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="tags">Tags</label>
      <textarea name="tags" id="tags" class="form-control" ng-model="$ctrl.artist.tags" ng-minlength="10" ng-maxlength="300" placeholder="mountains, snow, trees" required></textarea>
      <div class="error" ng-show="$ctrl.newArtist.tags.$dirty && $ctrl.newArtist.tags.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.tags.$error.required">
              Tags is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.tags.$error.minlength">
              Tags must be at least 10 characters
          </small>
          <small class="error" ng-show="$ctrl.newArtist.tags.$error.maxlength">
              Tags cannot be more that 300 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's Headshot       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.headshot.$dirty && $ctrl.newArtist.headshot.$invalid,
                  'has-success': $ctrl.newArtist.headshot.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="headshot">Headshot</label>
      <input name="headshot" type="url" id="headshot" class="form-control" ng-model="$ctrl.artist.headshot" placeholder="Enter headshot URL here" required>
      <div class="error" ng-show="$ctrl.newArtist.headshot.$dirty && $ctrl.newArtist.headshot.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.headshot.$error.required">
              Headshot is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.headshot.$error.url">
              Must be a valid URL
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's URL1       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.img_url1.$dirty && $ctrl.newArtist.img_url1.$invalid,
                  'has-success': $ctrl.newArtist.img_url1.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="img_url1">Upload a few images that best represent your work</label>
      <input name="img_url1" type="url" id="img_url1" class="form-control" ng-model="$ctrl.artist.img_url1" placeholder="Image URL 1" required>
      <div class="error" ng-show="$ctrl.newArtist.img_url1.$dirty && $ctrl.newArtist.img_url1.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.img_url1.$error.required">
              URL1 is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.img_url1.$error.url">
              Must be a valid URL
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's URL2       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.img_url2.$dirty && $ctrl.newArtist.img_url2.$invalid,
                  'has-success': $ctrl.newArtist.img_url2.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <input name="img_url2" type="url" id="img_url2" class="form-control" ng-model="$ctrl.artist.img_url2" placeholder="Image URL 2" required>
      <div class="error" ng-show="$ctrl.newArtist.img_url2.$dirty && $ctrl.newArtist.img_url2.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.img_url2.$error.required">
              URL2 is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.img_url2.$error.url">
              Must be a valid URL
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's URL3       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.img_url3.$dirty && $ctrl.newArtist.img_url3.$invalid,
                  'has-success': $ctrl.newArtist.img_url3.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <input name="img_url3" type="url" id="img_url3" class="form-control" ng-model="$ctrl.artist.img_url3" placeholder="Image URL 3" required>
      <div class="error" ng-show="$ctrl.newArtist.img_url3.$dirty && $ctrl.newArtist.img_url3.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.img_url3.$error.required">
              Image URL 3 is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.img_url3.$error.url">
              Must be a valid URL
          </small>
      </div>
    </div>
  </div>

  <!--      Artist's URL4       -->
  <div class="row" ng-class="{'has-error' : $ctrl.newArtist.img_url4.$dirty && $ctrl.newArtist.img_url4.$invalid,
                  'has-success': $ctrl.newArtist.img_url4.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <input name="img_url4" type="url" id="img_url4" class="form-control" ng-model="$ctrl.artist.img_url4" placeholder="Image URL 4" required>
      <div class="error" ng-show="$ctrl.newArtist.img_url4.$dirty && $ctrl.newArtist.img_url4.$invalid">
          <small class="error" ng-show="$ctrl.newArtist.img_url4.$error.required">
              Image URL 4 is a required field
          </small>
          <small class="error" ng-show="$ctrl.newArtist.img_url4.$error.url">
              Must be a valid URL
          </small>
      </div>
    </div>
  </div>



  <!---------   SUBMIT BUTTON    --------->
  <div class=" row form-group">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button ng-disabled="$ctrl.newArtist.$invalid" ng-click="$ctrl.addArtist(newArtist)" type="submit" class="btn btn-primary submit">
        Add Artist
      </button>
    </div>
  </div>
</form>


<section class="container">
  <div class="row">
    <div ng-repeat="artist in $ctrl.artists | filter:searchText | orderBy: name" class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 artistProfile">
        <div class="pull-right"><a><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a></div>
        <div class="pull-right"><a href=""><i class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="$ctrl.deleteArtist(artist)"></i></a></div>
        <div><img src="{{artist.headshot}}" alt="" class="img-responsive center-block headshot"></div>
        <h1>{{artist.name}}</h1>
        <h3><a target="_blank" href="{{artist.store}}" class="link">Online Store</a></h3>
        <h2>Bio:</h2>
        <h3>{{artist.bio}}</h3>
        <h3><b>Tags:</b> {{artist.tags}}</h3>
        <h2>Samples:</h2>
        <div class="row">
          <div class="artistSampleImage col-xs-12">
            <img src="{{artist.img_url1}}" alt="" width="200" class="img-responsive center-block">
          </div>
          <div class="artistSampleImage col-xs-12">
            <img src="{{artist.img_url2}}" alt="" width="200" class="img-responsive center-block">
          </div>
          <div class="artistSampleImage col-xs-12">
            <img src="{{artist.img_url3}}" alt="" width="200" class="img-responsive center-block">
          </div>
          <div class="artistSampleImage col-xs-12">
            <img src="{{artist.img_url4}}" alt="" width="200" class="img-responsive center-block">
          </div>
        </div>
    </div>
  </div>
</section>


<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <a href=""><p class="col-xs-12 col-sm-4">CONTACT/SUPPORT</p></a>
    <a href=""><p class="col-xs-12 col-sm-4">FAQ</p></a>
    <a href=""><p class="col-xs-12 col-sm-4">ARTIST INQUIRIES</p></a>
  </footer>
</div>
