<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">Home</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">
  <div class="row">
    <input type="search" class="form-control input-lg search-form" ng-model="searchText" placeholder="Search artists">
  </div>
</section>

<section class="container">
  <div class="row">
    <div ng-repeat="artist in $ctrl.artists | filter:searchText | orderBy: name" class="col-xs-12 col-md-6 artistProfile">
      <div><img src="{{artist.headshot}}" alt="" class="img-responsive center-block headshot"></div>
      <h1>{{artist.name}}</h1>
      <h2><a target="_blank" href="{{artist.store}}">{{artist.store}}</a></h2>
      <h2>Bio:</h2>
      <h3>{{artist.bio}}</h3>
      <h3><b>Tags:</b> {{artist.tags}}</h3>
      <h2>Samples:</h2>
      <div class="row">
        <div class="artistSampleImage col-xs-12 col-sm-3">
          <img src="{{artist.img_url1}}" alt="" width="150">
        </div>
        <div class="artistSampleImage col-xs-12 col-sm-3">
          <img src="{{artist.img_url2}}" alt="" width="150">
        </div>
        <div class="artistSampleImage col-xs-12 col-sm-3">
          <img src="{{artist.img_url3}}" alt="" width="150">
        </div>
        <div class="artistSampleImage col-xs-12 col-sm-3">
          <img src="{{artist.img_url4}}" alt="" width="150">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <a href=""><p class="col-xs-12 col-sm-4">CONTACT/SUPPORT</p></a>
    <a href=""><p class="col-xs-12 col-sm-4">FAQ</p></a>
    <a href=""><p class="col-xs-12 col-sm-4">ARTIST INQUIRIES</p></a>
  </footer>
</div>
