<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">HOME</a></li>
        <li><a ui-sref="howItWorks">HOW IT WORKS</a></li>
        <li><a href="#">TESTIMONIALS</a></li>
        <li><a ui-sref="startACollection">START A COLLECTION</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- HERO IMAGE -->
<section class="hero">
  <!-- HERO IMAGE LIVES HERE -->
</section>


<div class="container">
  <section class="description row">
    <div class="build col-xs-12 col-md-4">BUILD YOUR COLLECTION</div>
    <div class="curated col-xs-12 col-md-8">original art for any budget, any style personally curated for you</div>
  </section>
</div>

<div class="container">
  <section class="learn row">
    <div class="consultant col-xs-12 col-md-8">your personal consultant can work with you on specific projects or simply provide you with monthly introductions to new artists</div>
    <div class="cta col-xs-12 col-md-4">
      <div class="row">
        <a ui-sref="howItWorks"><button type="button" class="btn btn-default col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">Learn More</button></a>
      </div>
    </div>
  </section>
</div>

<!-- How it works -->
<div class="container howItWorks">
  <div class="row">
    <h1 class="col-xs-4 col-xs-offset-4">How it works section</h1>
    <!-- NEED CONTENT -->
  </div>
  <div class="row cta">
    <a ui-sref="startACollection"><button type="button" class="btn btn-default col-xs-8 col-xs-offset-2">Start a Collection</button></a>
  </div>
  <div class="row cta">
    <button ng-click="$ctrl.form=!$ctrl.form" type="button" class="btn btn-default col-xs-8 col-xs-offset-2">Subscribe to Our Email List</button>
  </div>
</div>

<!-- Begin MailChimp Signup Form -->
<div class="subscribeForm" id="mc_embed_signup">
  <form ng-show="$ctrl.form" action="//katiramer.us8.list-manage.com/subscribe/post?u=18819f7d8a474829ca6fe16bf&amp;id=551c4b0e5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  	<h2>Subscribe to receive artist updates each month</h2>
  <div class="mc-field-group">
  	<label for="mce-EMAIL">Email Address </label>
  	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  <div class="mc-field-group">
  	<label for="mce-FNAME">First Name </label>
  	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
  </div>
  <div class="mc-field-group">
  	<label for="mce-LNAME">Last Name </label>
  	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
  </div>
  	<div id="mce-responses" class="clear">
  		<div class="response" id="mce-error-response" style="display:none"></div>
  		<div class="response" id="mce-success-response" style="display:none"></div>
  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18819f7d8a474829ca6fe16bf_551c4b0e5c" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End Mailchimp Form-->


<!-- Login modal -->
<div class="modal fade bs-example-modal-sm container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- Login FORM -->
      <form class="row" name="$ctrl.user" novalidate>

        <!--      User Email       -->
        <div class="row" ng-class="{'has-error' : $ctrl.user.email.$dirty && $ctrl.user.email.$invalid,
                        'has-success': $ctrl.user.email.$valid}">
          <div class="col-xs-10 col-xs-offset-1">
            <label for="email">Email</label>
            <input name="email" id="email" class="form-control" ng-model="$ctrl.login.email" ng-minlength="3" ng-maxlength="20" required>
            <div class="error" ng-show="$ctrl.user.email.$dirty && $ctrl.user.email.$invalid">
                <small class="error" ng-show="$ctrl.user.email.$error.required">
                    Email is a required field
                </small>
                <small class="error" ng-show="$ctrl.user.email.$error.minlength">
                    Email must be at least 3 characters
                </small>
                <small class="error" ng-show="$ctrl.user.email.$error.maxlength">
                    Email cannot be more that 20 characters
                </small>
            </div>
          </div>
        </div>

        <!--      User Password       -->
        <div class="row" ng-class="{'has-error' : $ctrl.user.password.$dirty && $ctrl.user.password.$invalid,
                        'has-success': $ctrl.user.password.$valid}">
          <div class="col-xs-10 col-xs-offset-1">
            <label for="password">Password</label>
            <input name="password" id="password" class="form-control" ng-model="$ctrl.login.password_digest" ng-minlength="3" ng-maxlength="40" required>
            <div class="error" ng-show="$ctrl.user.password.$dirty && $ctrl.user.password.$invalid">
                <small class="error" ng-show="$ctrl.user.password.$error.required">
                    Password is a required field
                </small>
                <small class="error" ng-show="$ctrl.user.password.$error.minlength">
                    Password must be at least 3 characters
                </small>
                <small class="error" ng-show="$ctrl.user.password.$error.maxlength">
                    Password cannot be more that 40 characters
                </small>
            </div>
          </div>
        </div>

        <!---------   SUBMIT BUTTON    --------->
        <div class="row form-group">
          <div class="col-xs-10 col-xs-offset-1">
            <button ng-disabled="$ctrl.user.$invalid" ng-click="$ctrl.signIn()" type="submit" class="btn btn-primary submit">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <h3 class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-1">CONTACT/SUPPORT</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2" data-toggle="modal" data-target=".bs-example-modal-sm">LOGIN</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">FAQ</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">PRESS</h3>
    <h3 class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-2 col-lg-offset-0">ARTIST INQUIRIES</h3>
  </footer>
</div>
