<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="howItWorks">HOW IT WORKS</a></li>
        <li><a ui-sref="startACollection">START A COLLECTION</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- HERO IMAGE -->
<section class="hero">
  <!-- HERO IMAGE LIVES HERE -->
</section>


<div class="container">
  <section class="description row">
    <div class="build col-xs-12 col-sm-4">BUILD YOUR COLLECTION</div>
    <div class="curated col-xs-12 col-sm-8">original art for any budget, any style personally curated for you</div>
  </section>
</div>

<div class="container">
  <section class="learn row">
    <div class="consultant col-xs-12 col-md-8">your personal consultant can work with you on specific projects or simply provide you with monthly introductions to new artists</div>
    <div class="cta col-xs-12 col-md-4">
      <div class="row">
        <a ui-sref="startACollection"><button type="button" class="collectButton col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">Start A Collection</button></a>
      </div>
    </div>
  </section>
</div>

<!-- How it works -->
<div class="container howItWorks">
  <h1>How Does It Work?</h1>
  <div class="row book">
    <img class="infoGraphic" src="../assets/book.jpg" alt="">
    <h3>1. Book a Consultation!</h3>
  </div>
  <div class="row email">
    <!-- NEED CONTENT -->
    <img class="infoGraphic" src="../assets/email.jpeg" alt="">
    <h3>2. Check Your Email!</h3>
  </div>
  <div class="row hang">
    <!-- NEED CONTENT -->
    <img class="infoGraphic" src="../assets/painting.jpg" alt="">
    <h3>3. Hang That Perfect Piece!</h3>
  </div>
  <div class="row cta">
    <a ui-sref="startACollection"><button type="button" class="col-xs-12 col-md-4 col-md-offset-4 collectButton">Start a Collection</button></a>
  </div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade bs-example-modal-sm container" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- Login FORM -->
      <form class="row" name="$ctrl.user" novalidate>

        <!--      User Email       -->
        <div class="row" ng-class="{'has-error' : $ctrl.user.email.$dirty && $ctrl.user.email.$invalid,
                        'has-success': $ctrl.user.email.$valid}">
          <div class="col-xs-10 col-xs-offset-1">
            <label for="email">Email</label>
            <input name="email" id="email" class="form-control" ng-model="$ctrl.login.email" ng-minlength="3" ng-maxlength="20" required>
            <div class="error" ng-show="$ctrl.user.email.$dirty && $ctrl.user.email.$invalid">
                <small class="error" ng-show="$ctrl.user.email.$error.required">
                    Email is a required field
                </small>
                <small class="error" ng-show="$ctrl.user.email.$error.minlength">
                    Email must be at least 3 characters
                </small>
                <small class="error" ng-show="$ctrl.user.email.$error.maxlength">
                    Email cannot be more that 20 characters
                </small>
            </div>
          </div>
        </div>

        <!--      User Password       -->
        <div class="row" ng-class="{'has-error' : $ctrl.user.password.$dirty && $ctrl.user.password.$invalid,
                        'has-success': $ctrl.user.password.$valid}">
          <div class="col-xs-10 col-xs-offset-1">
            <label for="password">Password</label>
            <input name="password" id="password" class="form-control" ng-model="$ctrl.login.password_digest" ng-minlength="3" ng-maxlength="40" required>
            <div class="error" ng-show="$ctrl.user.password.$dirty && $ctrl.user.password.$invalid">
                <small class="error" ng-show="$ctrl.user.password.$error.required">
                    Password is a required field
                </small>
                <small class="error" ng-show="$ctrl.user.password.$error.minlength">
                    Password must be at least 3 characters
                </small>
                <small class="error" ng-show="$ctrl.user.password.$error.maxlength">
                    Password cannot be more that 40 characters
                </small>
            </div>
          </div>
        </div>

        <!---------   SUBMIT BUTTON    --------->
        <div class="row form-group">
          <div class="col-xs-10 col-xs-offset-1">
            <button ng-disabled="$ctrl.user.$invalid" ng-click="$ctrl.signIn()" type="submit" class="btn btn-primary submit">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <a href=""><p class="col-xs-6 col-md-3">CONTACT/SUPPORT</p></a>
    <a href=""><p class="col-xs-6 col-md-3" data-toggle="modal" data-target=".bs-example-modal-sm">LOGIN</p></a>
    <a href=""><p class="col-xs-6 col-md-3">FAQ</p></a>
    <a href=""><p class="col-xs-6 col-md-3">ARTIST INQUIRIES</p></a>
  </footer>
</div>
