<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="$ctrl.getPaintings()"><a ui-sref="">Paintings</a></li>
        <li><a ui-sref="">Add</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">
  <div class="row">
    <input type="search" class="form-control input-lg search-form" ng-model="searchText" placeholder="Search Paintings">
  </div>
</section>

<section ng-repeat="painting in $ctrl.paintings | filter:searchText | orderBy: title" class="container paintingProfile">
  <div class="row">
    <img src="{{artist.headshot}}" alt="" class="img-responsive center-block headshot">
    <h1 class="col-xs-12 col-md-10 col-md-offset-1">{{artist.name}}</h1>
    <h2 class="col-xs-12 col-md-10 col-md-offset-1">Store: <a target="_blank" href="{{artist.store}}">{{artist.store}}</a></h2>
    <h2 class="col-xs-12 col-md-10 col-md-offset-1">Bio:</h2>
    <h3 class="col-xs-12 col-md-10 col-md-offset-1">{{artist.bio}}</h3>
    <h2 class="col-xs-12 col-md-10 col-md-offset-1">Tags:</h2>
    <h3 class="col-xs-12 col-md-10 col-md-offset-1">{{artist.tags}}</h3>
    <h2 class="col-xs-12 col-md-10 col-md-offset-1">Samples:</h2>
    <div class="col-xs-12 col-sm-6 col-lg-3 artistSampleImage">
      <img src="{{artist.img_url1}}" alt="" class="center-block" width="300">
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 artistSampleImage">
      <img src="{{artist.img_url2}}" alt="" class="center-block" width="300">
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 artistSampleImage">
      <img src="{{artist.img_url3}}" alt="" class="center-block" width="300">
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 artistSampleImage">
      <img src="{{artist.img_url4}}" alt="" class="center-block" width="300">
    </div>
  </div>
</section>


<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <h3 class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-1">CONTACT/SUPPORT</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">LOGIN</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">FAQ</h3>
    <h3 class="col-xs-12 col-sm-6 col-lg-2">PRESS</h3>
    <h3 class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-2 col-lg-offset-0">ARTIST INQUIRIES</h3>
  </footer>
</div>
