/* YOUR CSS STARTS HERE */

.navbar {
  margin: 0;
}

.container {
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
}

.logo {
  height: 15vh;
}

h1 {
  line-height: 100%;
}

.hero {
  height: 100vh;
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  background-color: #D2B48C;
}

.build {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 40px;
  color: white;
}

.curated {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 30px;
  color: white;
}

.learn {
  margin-bottom: 5vh;
}

.consultant {
  padding-top: 3vh;
  font-size: 30px;
}

.cta {
  padding-top: 5vh;
}

.howItWorksHero {
  height: 100vh;
  background-image: url("../assets/how-it-works-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.howItWorks {
  height: 50vh;
  border: 1px solid red;
}

.faq {
  text-align: center;
}

.paypal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

footer {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-top: 2px solid black;
  height: 10vh;
  text-align: center;
}
