/* YOUR CSS STARTS HERE */

body {
  /*font-family: 'Quicksand', sans-serif;
  font-weight: 300;*/
  /*font-family: 'Bellefair', serif;*/
  font-family: 'Assistant', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0;
}

.container {
  width: 100vw;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: center;
}

.logo {
  height: 15vh;
}

h1 {
  line-height: 100%;
}

.hero {
  height: 100vh;
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  background-color: #D2B48C;
}

.build {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 40px;
  color: white;
}

.curated {
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 30px;
  color: white;
}

.learn {
  margin-bottom: 5vh;
}

.consultant {
  padding-top: 3vh;
  font-size: 30px;
}

.cta {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.collectButton {
  background: #ccc3ab;
  background-image: -webkit-linear-gradient(top, #ccc3ab, #ccc3ab);
  background-image: -moz-linear-gradient(top, #ccc3ab, #ccc3ab);
  background-image: -ms-linear-gradient(top, #ccc3ab, #ccc3ab);
  background-image: -o-linear-gradient(top, #ccc3ab, #ccc3ab);
  background-image: linear-gradient(to bottom, #ccc3ab, #ccc3ab);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.collectButton:hover {
  background: #D2B48C;
  background-image: -webkit-linear-gradient(top, #D2B48C, #D2B48C);
  background-image: -moz-linear-gradient(top, #D2B48C, #D2B48C);
  background-image: -ms-linear-gradient(top, #D2B48C, #D2B48C);
  background-image: -o-linear-gradient(top, #D2B48C, #D2B48C);
  background-image: linear-gradient(to bottom, #D2B48C, #D2B48C);
  text-decoration: none;
}

.startACollectionHero {
  height: 100vh;
  background-image: url("../assets/startACollection.jpg");
  background-size: cover;
}

.howItWorksHero {
  height: 100vh;
  background-image: url("../assets/how-it-works-placeholder.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.howItWorks {
  height: 10vh;
  padding-bottom: 15vh;
}

.faq {
  text-align: center;
}

.subscribeForm {
  margin-top: 10vh;
}

.confirmation {
  text-align: center;
}

.consultationForm {
  margin-top: 5vh;
}

.submit {
  margin-top: 2vh;
}

.summary {
  text-align: center;
}

.paypal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

footer {
  margin-top: 20vh;
  padding-top: 3vh;
  border-top: 1px solid black;
  height: 10vh;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}


/*  CURATOR VIEW  */

.artistProfile {
  /*background-color: #D2B48C;*/
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.headshot {
  height: 300px;
  margin-top: 5vh;
}

.artistSampleImage {
  margin-top: 5vh;
  margin-bottom: 5vh;
}


/* PAINTINGS VIEW */

.PaintingProfile {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
