<header class="container">
  <div class="row">
    <img class="logo col-xs-3" src="./assets/logo.png" alt="Brand Logo">
    <h1 class="col-xs-9">CONSERVATEUR</h1>
    <h3 class="col-xs-9">BUILD AN ORIGINAL COLLECTION</h3>
  </div>
</header>

<!-- NAV  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">HOME</a></li>
        <li><a ui-sref="startACollection">START A COLLECTION</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- How it works -->
<div class="container howItWorks">
  <h1 class="col-xs-12 howHeader">How It Works</h1>

  <div class="row book">
    <div class="col-xs-12 col-md-6"><img class="infoGraphic" src="../assets/book.jpg" alt=""></div>
    <p class="col-xs-12 col-md-6 howText">The first step to building your collection is to fill out our consultation form. The cost of booking a consultation is $19.99. What do you get for that price? A professional curator will review your information and reach out to you with some additional questions. After they have gathered all of your requirements they will search our extensive network of artists for pieces that meet your criteria. Next your curator will send you an email with 6 paintings that match your personal style and budget.</p>
  </div>

  <div class="row email">
    <div class="col-xs-12 col-md-6"><img class="infoGraphic" src="../assets/email.jpeg" alt=""></div>
    <p class="col-xs-12 col-md-6 howText">Keep an eye out for an email from your curator. Review each personalized recommendation from your curator. Once you have selected that perfect piece for your space your curator will send you an invoice.</p>
  </div>

  <div class="row hang">
    <div class="col-xs-12 col-md-6"><img class="infoGraphic" src="../assets/hang.jpg" alt=""></div>
    <p class="col-xs-12 col-md-6 howText">That's it!  Your painting will arrive in no time and you will be hanging that perfect new addition to your space!</p>
  </div>

  <div class="row cta">
    <a ui-sref="startACollection"><button type="button" class="col-xs-12 col-md-4 col-md-offset-4 collectButton">Get Started</button></a>
  </div>
</div>

<section class="container">
  <div class="row">
    <h1 class="questionHeader">OR</h1>
      <a ui-sref="howItWorks" ng-click="$ctrl.form=!$ctrl.form"><button type="button" class="col-xs-12 col-md-4 col-md-offset-4 collectButton">Ask Us A Question</button></a>
  </div>
</section>

<!-- QUESTION FORM -->
<form class="container consultationForm" name="$ctrl.consultation" ng-show="$ctrl.form" novalidate>

  <!--      Customer Name       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.name.$dirty && $ctrl.consultation.name.$invalid,
                  'has-success': $ctrl.consultation.name.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="name">Name</label>
      <input name="name" id="name" class="form-control" ng-model="$ctrl.question.name" ng-minlength="3" ng-maxlength="20" required>
      <div class="error" ng-show="$ctrl.consultation.name.$dirty && $ctrl.consultation.name.$invalid">
          <small class="error" ng-show="$ctrl.consultation.name.$error.required">
              Name is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.name.$error.minlength">
              Name must be at least 3 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.name.$error.maxlength">
              Name cannot be more that 20 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Customer Email       -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.email.$dirty && $ctrl.consultation.email.$invalid,
                  'has-success': $ctrl.consultation.email.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="email">Email</label>
      <input name="email" id="email" class="form-control" ng-model="$ctrl.question.email" ng-minlength="10" ng-maxlength="40" required>
      <div class="error" ng-show="$ctrl.consultation.email.$dirty && $ctrl.consultation.email.$invalid">
          <small class="error" ng-show="$ctrl.consultation.email.$error.required">
              Email is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.email.$error.minlength">
              Email must be at least 10 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.email.$error.maxlength">
              Email cannot be more that 40 characters
          </small>
      </div>
    </div>
  </div>

  <!--      Question      -->
  <div class="row" ng-class="{'has-error' : $ctrl.consultation.question.$dirty && $ctrl.consultation.question.$invalid,
                  'has-success': $ctrl.consultation.question.$valid}">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <label for="question">Question</label>
      <input name="question" id="question" class="form-control" ng-model="$ctrl.question.question" ng-minlength="3" ng-maxlength="20" required>
      <div class="error" ng-show="$ctrl.consultation.question.$dirty && $ctrl.consultation.question.$invalid">
          <small class="error" ng-show="$ctrl.consultation.question.$error.required">
              Question is a required field
          </small>
          <small class="error" ng-show="$ctrl.consultation.question.$error.minlength">
              Question must be at least 3 characters
          </small>
          <small class="error" ng-show="$ctrl.consultation.question.$error.maxlength">
              Question cannot be more that 20 characters
          </small>
      </div>
    </div>
  </div>

  <!---------   SUBMIT BUTTON    --------->
  <div class=" row form-group">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button ng-disabled="$ctrl.consultation.$invalid" ng-click="$ctrl.sendQuestion()" type="submit" class="btn btn-primary submit">
        Submit
      </button>
    </div>
  </div>
</form>


<!-- FOOTER -->
<div class="container">
  <footer class="row">
    <a href=""><p class="col-xs-12 col-sm-4">CONTACT/SUPPORT</p></a>
    <a href=""><p class="col-xs-12 col-sm-4">FAQ</p></a>
    <a href=""><p class="col-xs-12 col-sm-4">ARTIST INQUIRIES</p></a>
  </footer>
</div>
